body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background: rgb(236, 61, 181);
  background: linear-gradient(
    90deg,
    rgba(236, 61, 181, 1) 35%,
    rgba(29, 214, 253, 1) 100%,
    rgba(252, 176, 69, 1) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
}
